body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* Topo */
.topo {
    height: 30px;
    background-color: #333333;
}
.topo_int {
    width: 100%;
    max-width: 1040px;
    height: 30px;
    /* margin: auto -> Deixa essa div no meio da outra! */
    margin: auto; 
}

/* Topo a esquerda [Menu] */
.topo_left {
    width: 50%;
    height: 30px;
    float: left;
}
.topo_left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.topo_left li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
}
.topo_left li a {
    text-decoration: none;
    color: #FFF;
}
.topo_left li .ativo {
    color: blue;
}

/* Topo a direita [Icons e Input] */
.topo_right {
    width: 50%;
    height: 28px;
    float: right;
    margin-top: 2px;
}
.topo_right a {
    float: right;
}
.topo_right input {
    float: right;
}
.topo_right img {
    margin-right: 3px;
}
.topo_busca {
    width: 100px;
    height: 26px;
    outline: 0;
}

/* Topo 2 */
.topo_2 {
    height: 95px;
    color: #000;
}
.topo_2_int {
    width: 100%;
    max-width: 1040px;
    height: 95px;
    /* margin: auto -> Deixa essa div no meio da outra! */
    margin: auto; 
}
.logo {
    width: 230px;
    height: 63px;
    float: left;
    margin-top: 16px;
}
.topo_2 .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7.5px;
    background-color: FF0000;
}

/* Menu */
.menu {
    height: 40px;
    background-color: FF0000;
}
.menu_int {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.menu_int ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu li a {
    text-decoration: none;
    color: #FFF;
}

/* Sub Menu */
.sub_menu {
    width: 150px;
    background-color: #FF0000;
    position: absolute;
    display: none;
}
.menu li:hover .sub_menu {
    display: block;
}                                               
.sub_menu_item {
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.sub_menu_item:hover{
    background-color: #FF5555;
}

/* Barra de últimas notícias */
.ultimas_noticias{
    height: 40px;
}
.ultimas_noticias_int {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.ultnoticias_area {
    height: 28px;
    border: 1px solid #CCC;
    margin-top: 10px;
}
.ultnoticias_title {
    background-color: #FF0000;
    color: #FFF;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-size: 16px;
}
.ultnoticias_noticia {
    color: #000;
    height: 28px;
    line-height: 28px;
    padding-left: 5px;
    display: inline-block;
    font-size: 10px;
}

/* Container [conteúdo do site] */
.container {

}
.container_int {
    width: 100%;
    max-width: 1040px;
    margin: auto;
    /* background-color: aqua; */
}

/* Lado direito [Right Side] */
.right_side {
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
}
.widget {
    border: 1px solid #CCC;
    background-color: #FFF;
    margin-bottom: 10px;
}
.widget_titulo {
    height: 30px;
    line-height: 30PX;
    background-color: #DDD;
    border-bottom: 1px solid #CCC;
    padding-left: 5px;
    font-size: 14px;
}
.widget_conteudo {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.noticia_item {
    font-size: 14px;
    margin: 0px 10px;
    padding: 0px 10px;
    text-align: left;
    border-bottom: 1px solid #CCC;
}
.noticia_item a {
    text-decoration: none;
    color: #000;
}

/* Lado Esquerdo [Left Side] */
.left_side {
    float: left;
    width: 753px;
}
.slideshow {
    height: 335px;
    /* [overflow] diz o que a div deve fazer quando o conteúdo passa de sua área, [hidden] esconde o conteúdo */
    overflow: hidden;
    margin-bottom:20px;
    padding-bottom: 20px;
}
.slideshowarea {
    width: 100000px;
    height: 335px;
    transition: all 1s;
}
.slide {
    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slideinfo {
    height: 70px;
    background-image: url('../Images/slideshow_bg.png') ;
    background-size: auto 70px;
    margin-top: 265px;
}
.slideinfo_titulo {
    font-size: 20px;
    color: #FFF;
    padding-top: 15px;
    padding-left: 20px;
}
.slideinfo_subtitulo {
    font-size: 13px;
    color: #FFF;
    padding-left: 20px;
}
/* Bolinhas dos slides */
.slide_bolinhas {
    position: absolute;
    width: 200px;
    height: 20px;
}
.bolinha {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    background-color: #CCC;
    border-radius: 10px;
}
/* Abaixo do carousel [área de noticias] */
.noticiaarea1 {
    width: 430px;
    height: 420px;
    float: left;
}

.noticiaarea2 {
    width: 320px;
    height: 420px;
    float: left;
}
.noticiaitem {
    text-align: left;
    height: 88px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.noticiaimg {
    width: 80px;
    height: 80px;
    border: 1px solid #CCC;
    padding: 3px;
    float: left;
}
.noticiatitulo {
    width: 226px;
    margin-left: 6px;
    font-size: 16px;
    float: left;
}
.noticiainfo {
    width: 226px;
    font-size: 12px;
    margin-left: 6px;
    color: #999;
    float: left;
}
.noticiabig {
    margin-left: 10px;
}
.noticiabig .noticiaimg {
    width: 384px;
    height: 222px;
}
.noticiabig .noticiaimg img{
    width: 384px;
    height: 222px;
}
.noticiabig .noticiatitulo {
    font-size: 30px;
    width: 384px;
}